@font-face {
    font-family: jua;
    src: url("../font/Jua-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: jua;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
}

body{
    background-color: #3D88C6;
    min-height: 100vh;
    justify-content: center; 
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    border: 2px solid rgb(255, 255, 255, 0.20) ;
    background-color: #0365B7;
    width: 500px;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2.3em;
}

.option-container{
    position: relative;
    width: 100%;
    height: 60px;
    margin: 40px 0;
    background-color: white;
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
    border: solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

.option-container:hover{
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    font-size: 1.4em;
}

.option-container a{
    color: black;
    text-decoration: none;
}

.option-container p{
    position: relative;
    padding-top: 15px;
    color: black;
    text-decoration: none;
}

.cadastrar-container{
    display: flex;
    justify-content: left;
    justify-items: center;
    margin-bottom: 40px;
}

#logout-img{
    position: relative;
    margin-left: 90%;
    width: 35px;
    opacity: 70%;
}

p{
    margin-left: 20px;
    margin-right: 10px;
    color: white;
}
a{
    text-decoration: none;
    flex-direction: row;
    color: white;
    font-weight: 500;
}
a:hover{
   color: rgba(255, 255, 255, 0.3);
}


option{
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.6);
    font-size: 1em;
}

.input-container{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-container input{
    width: 100%; 
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    color: white;
    font-size: 1.3em;
}

.input-container input:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.input-container input::placeholder{
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
}

.input-container img{
    position: absolute;
    right: 15px;
    top: 25%;
    width: 25px;
    opacity: 35%;
}

.submit-button{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: white;
    font-size: 1em;
    font-weight: 500;
    box-shadow: 0px 0px 10px gray;
}

.submit-button:hover{
    cursor: pointer;
    background-color: rgb(233, 233, 233);
}

.input-container select{
    width: 100%; 
    height: 100%;
    border: none;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    margin-top: 10px;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #0365B7;
    z-index: 1000;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 5px;
    height: 50px;
    width: 50px;
}

.navbar img {
    height: 40px;
    border: none;
}

.main {
    flex: 1;
    margin-top: 100px; /* Espaço para compensar a navbar fixa */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.container2 {
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: #0365B7;
    width: 45%; /* Ajusta a largura para caber lado a lado */
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    margin: 10px; /* Espaçamento entre os containers */
    color: white;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px; /* Espaço entre os containers e o botão */
}

h2 {
    text-align: center;
    color: white;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centraliza o botão */
    width: 20%;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

.submit-button:hover {
    background-color: rgb(233, 233, 233);
}

.main {
    flex: 1;
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

form{
    width: 100%;
}

.input-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.half-width {
    width: 48%; /* Cada campo ocupa metade da largura com um pequeno espaçamento */
}

.input-container input {
    width: 100%; /* Garante que o input ocupe toda a largura do container */
}